<p class="currency__header">
    Отправьте свои данные и мы с Вами свяжемся
</p>
<form action="/">
    <div class="form-group"><input placeholder="Ваше имя" type="text"></div>
    <div class="form-group"><input placeholder="Email" type="text"></div>
    <div class="form-group"><textarea placeholder="Сообщение" class="input"></textarea></div>
    <p class="agreement-text">Нажимая "Отправить", вы даёте согласие на обработку своих персональных данных в соответствии с Федеральным законом №152-ФЗ «О персональных данных» и принимаете условия
        <a href="#">Пользовательского соглашения</a></p>
    <div class="text-center">
        <input type="submit" value="Отправить" class="avatar-btn">
    </div>
</form>