<p class="currency__header">
    Инструкция по покупке токенов
</p>


<p>Чтобы купить токены AVR необходимо перевести валюту эфир ETH на адрес <code style="color: #c7254e; font-weight: bold;">0xcD389F4873e8fBCE7925b1D57804842043a3bF36</code>.</p>

<p>Это адрес нашего контракта. После подтверждения токены окажутся на кошельке отправителя в пропорциональном кол-ве отправленной сумме по цене токена.</p>

<p>Цена токена = 0,1 Доллар.</p>

<p>Цена действует на ограниченный этап продаж на который выделено 750,000AVR. AVR.</p>

<p>При переводе указывайте для гарантии исполнения транзакции не менее 150000 газа.</p>

<p>Внимание! Не переводите эфиры с биржи или тех кошельков, которыми вы не владеете, так как токены тогда окажутся не в вашем распоряжении.</p>
