@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Cuprum&display=swap');

*{
  list-style: none;
  text-decoration: none;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}


/*----------------Портфели-----------------*/

.block1{
  font-family: 'Fira Sans Condensed', sans-serif;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#9e9e9e,#fff);
  z-index: 2;
  position: relative;
  min-height: 600px;
}

.block1_cent{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 70%;
}

.box{
  position: relative;
  margin: 20px;
  padding: 10px;
  width: 200px;
  height: 200px;
  border-radius: 10px;
  overflow: hidden;
  background: #cccccc;
  box-shadow: -10px 25px 50px rgba(0,0,0,.3);
  transition: 0.5s;
  z-index: 2;
  cursor: pointer;
}

.box:hover{
  box-shadow: -10px 25px 50px rgba(0,0,0,.6);
}

.block1_content{
  color: white;
  width: 100%;
  height: 100%;
  position: relative;
  font-family: 'Cuprum', sans-serif;
}


.time{
  position: absolute;
  font-size: 35px;
  top: 18px;
  left: -16px;
  transform: rotate(-45deg); 
  width: 100%;
  text-align: center;
}
.time_number{
  font-size: 60px;
}
.slash{
  top: 50%;
  left: -5%;
  content: '';
  position: absolute;
  height: 4px;
  width: 110%;
  background: white;
  transform: rotate(-45deg); 
}
.sum_n{
  position: absolute;
  font-size: 70px;
  bottom: 6px;
  right: -28px;
  transform: rotate(-45deg);
  width: 100%;
  text-align: center;
}


.bg{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  transition: 0.5s;
  width: 100%;
  height: 100%;
}

.block1 .box.box1:hover ~ .bg{
  background: linear-gradient(#000dff,#fff);
}
.block1 .box.box1:hover{
  background: linear-gradient(#000dff 60%, #fff);
}

.block1 .box.box2:hover ~ .bg{
  background: linear-gradient(#00bbff,#fff);
}
.block1 .box.box2:hover{
  background: linear-gradient(#00bbff 60%, #fff);
}

.block1 .box.box3:hover ~ .bg{
  background: linear-gradient(#ff3030,#fff);
}
.block1 .box.box3:hover{
  background: linear-gradient(#ff3030 60%, #fff);
}

.block1 .box.box4:hover ~ .bg{
  background: linear-gradient(#7724bf,#fff);
}
.block1 .box.box4:hover{
  background: linear-gradient(#7724bf 60%, #fff);
}

.block1 .box.box5:hover ~ .bg{
  background: linear-gradient(#E91E61,#fff);
}
.block1 .box.box5:hover{
  background: linear-gradient(#E91E61 60%, #fff);
}

.block1 .box.box6:hover ~ .bg{
  background: linear-gradient(#ffd000,#fff);
}
.block1 .box.box6:hover{
  background: linear-gradient(#ffd000 60%, #fff);
}

.block1 .box.box7:hover ~ .bg{
  background: linear-gradient(#03A9F4,#fff);
}
.block1 .box.box7:hover{
  background: linear-gradient(#03A9F4 60%, #fff);
}

.block1 .box.box8:hover ~ .bg {
  background: linear-gradient(#00ff00,#fff);
}
.block1 .box.box8:hover{
  background: linear-gradient(#00ff00 60%, #fff);
}

/*---------------ползунки---------------*/
.ranges{
  margin: 10px 0 80px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.range_block{
  display: flex;
  align-items: center;
  width: 700px;
  margin: 0 auto; 
}

.input_range{
  width: 80%;
}

.range1{
  margin: 20px auto;
  width: 100%;
  height: 15px;
  background: #f2c85c;
  -webkit-appearance: none;
  outline: none;
  border-radius: 10px;
  outline: none;
  border: none;
}
.range2{
  margin: 20px auto;
  width: 100%;
  height: 15px;
  background: #aaff6e;
  -webkit-appearance: none;
  outline: none;
  border-radius: 10px;
  outline: none;
  border: none;
}
.range3{
  margin: 20px auto;
  width: 100%;
  height: 15px;
  background: #dedede;
  -webkit-appearance: none;
  outline: none;
  border-radius: 10px;
  outline: none;
  border: none;
}

.range1::-webkit-slider-thumb{
  -webkit-appearance: none;
  width: 26px;
  height: 26px;
  border: 1px solid white;
  border-radius: 50%;
  background: #ffae00;
  cursor: pointer;
}
.range1::-webkit-slider-thumb:hover{
  width: 28px;
  height: 28px;
  box-shadow: 0px 0px 4px #9e9e9e;
}
.range2::-webkit-slider-thumb{
  -webkit-appearance: none;
  width: 26px;
  height: 26px;
  border: 1px solid white;
  border-radius: 50%;
  background: #98e85f;
  cursor: pointer;
}
.range2::-webkit-slider-thumb:hover{
  width: 28px;
  height: 28px;
  box-shadow: 0px 0px 4px #9e9e9e;
}
.range3::-webkit-slider-thumb{
  -webkit-appearance: none;
  width: 26px;
  height: 26px;
  border: 1px solid white;
  border-radius: 50%;
  background: #cccccc;
  cursor: pointer;
}
.range3::-webkit-slider-thumb:hover{
  width: 28px;
  height: 28px;
  box-shadow: 0px 0px 4px #9e9e9e;
}




.icon_range{
  height: 50px;
  margin-right: 10px;
}
.icon_range img{
  height: 100%;
}

/*------------новостная лента-----------*/
.news{
  width: 40%;
  height: 525px;
  display: flex;
  justify-content: center;
  color: #9e9e9e;
  font-family: 'Exo 2', sans-serif;
}

.news_block{
  width: 350px;
  height: 100%;
  background: white;
  border-radius: 8px;
  overflow: scroll;
  overflow-x:hidden;
  border: 1px solid #cccccc;
}

.news_one{
  margin: 10px 10px 20px 15px;
  padding: 0 20px 0px 15px; 
  border-left: 3px solid #cccccc;
  position: relative;
}
.news_one:last-child{
  padding: 0 20px 0px 15px; 
}
.news_one:last-child:before{
  display: none;
}

.news_one:after{
  content: '';
  position: absolute;
  top: -1px;
  left: -7px;
  width: 11px;
  height: 11px;
  background: #cccccc;
  border-radius: 10px;
}

.news_title{
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Fira Sans Condensed', sans-serif;
}
.news_date{
  font-size: 12px;
  padding: 10px 0 5px 0;
  font-weight: bold;
}
.news_text{
  font-size: 15px;
  display: none;
}
.news_text.active{
  display: block;
}

.news_block::-webkit-scrollbar {
    width: 10px;
    background: #ededed;
    border-radius: 15px;
}

.news_block::-webkit-scrollbar-thumb{
  background: #cccccc;
  border-radius: 15px;
}

.news_one .btn_n{
  cursor: pointer;
  position: relative;
  color: #9e9e9e !important;
  padding: 6px 12px 6px 0 !important;
}
.news_one .btn_n:hover{
  color: #9e9e9e !important
}


.fas.fa-angle-down{
  margin-left: 4px;
  position: absolute;
  bottom: 7px;
}
.btn_n.active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}




/*---------------График 2-----------------*/
.diagramm_circle{
  width: 40%;
}

.block2{
  width: 80%;
  margin: 80px auto 20px auto;
}

.block3{
  margin: 50px auto;
  display: flex;
  width: 80%;
  justify-content: space-evenly;
}

@media(max-width: 768px){
  .block2{
    width: 95%;
    margin: 20px auto;
  }
  .block3{
    display: flex;
    flex-direction: column;
    width: 90%;
    justify-content: space-between;
  }

  .news{
    margin: 40px auto;  
    width: 80%;
  }
  .news_block{
    width: 100%;
    height: 100%;
    background: white;
    border-radius: 8px;
    overflow: scroll;
    overflow-x:hidden;
    border: 1px solid #cccccc;
  }

  .diagramm_circle{
    width: 100%;
    padding: 0 20px;
  }

  .range_block{
    width: 90%;
  }

  .range{
    width: 100%;
  }
}

