@font-face {
    font-family: 'Bookvica';
    font-style: normal;
    src: local('Bookvica'), local('Bookvica'), url(http://cloud1.cloud999.ru/upload/cloud/16452/74309_Sv7eCYDMsb.woff) format('woff');
}

@font-face {
    font-family: 'Bookvica New';
    font-style: normal;
    font-weight: 400;
    src: local('Bookvica New'), local('Bookvica New'),   url(http://cloud1.cloud999.ru/upload/cloud/16452/74309_Sv7eCYDMsb.woff) format('woff');
}