/**
 * Basic typography style for copy text
 */
@font-face {
  font-family: "Bender";
  src: url("../fonts/BenderRegular/BenderRegular.eot");
  src: url("../fonts/BenderRegular/BenderRegular.eot?#iefix")format("embedded-opentype"),
  url("../fonts/BenderRegular/BenderRegular.woff") format("woff"),
  url("../fonts/BenderRegular/BenderRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Bender";
  src: url("../fonts/BenderBold/BenderBold.eot");
  src: url("../fonts/BenderBold/BenderBold.eot?#iefix")format("embedded-opentype"),
  url("../fonts/BenderBold/BenderBold.woff") format("woff"),
  url("../fonts/BenderBold/BenderBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: "Bender";
  src: url("../fonts/BenderItalic/BenderItalic.eot");
  src: url("../fonts/BenderItalic/BenderItalic.eot?#iefix")format("embedded-opentype"),
  url("../fonts/BenderItalic/BenderItalic.woff") format("woff"),
  url("../fonts/BenderItalic/BenderItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: normal;
}

@font-face {
  font-family: "Bender";
  src: url("../fonts/BenderBoldItalic/BenderBoldItalic.eot");
  src: url("../fonts/BenderBoldItalic/BenderBoldItalic.eot?#iefix")format("embedded-opentype"),
  url("../fonts/BenderBoldItalic/BenderBoldItalic.woff") format("woff"),
  url("../fonts/BenderBoldItalic/BenderBoldItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: 600;
}

@font-face {
  font-family: "Bender";
  src: url("../fonts/BenderBlack/BenderBlack.eot");
  src: url("../fonts/BenderBlack/BenderBlack.eot?#iefix")format("embedded-opentype"),
  url("../fonts/BenderBlack/BenderBlack.woff") format("woff"),
  url("../fonts/BenderBlack/BenderBlack.ttf") format("truetype");
  font-style: normal;
  font-weight: 900;
}

@font-face {
  font-family: "Bender";
  src: url("../fonts/BenderBlackItalic/BenderBlackItalic.eot");
  src: url("../fonts/BenderBlackItalic/BenderBlackItalic.eot?#iefix")format("embedded-opentype"),
  url("../fonts/BenderBlackItalic/BenderBlackItalic.woff") format("woff"),
  url("../fonts/BenderBlackItalic/BenderBlackItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: 900;
}

@font-face {
  font-family: "Bender";
  src: url("../fonts/BenderLight/BenderLight.eot");
  src: url("../fonts/BenderLight/BenderLight.eot?#iefix")format("embedded-opentype"),
  url("../fonts/BenderLight/BenderLight.woff") format("woff"),
  url("../fonts/BenderLight/BenderLight.ttf") format("truetype");
  font-style: normal;
  font-weight: 200;
}

@font-face {
  font-family: "Bender";
  src: url("../fonts/BenderLightItalic/BenderLightItalic.eot");
  src: url("../fonts/BenderLightItalic/BenderLightItalic.eot?#iefix")format("embedded-opentype"),
  url("../fonts/BenderLightItalic/BenderLightItalic.woff") format("woff"),
  url("../fonts/BenderLightItalic/BenderLightItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: 200;
}

body {
  color: #0b0b0b;
  font-family:"Bender", sans-serif;
  line-height: 1.25;
}
.text-uppercase{
  text-transform: uppercase;
}
.text-bold, strong{
  font-weight:600;
}
em,
.text-italic{
  font-style: italic;
}
.super-bold{
  font-weight:900;
}
.color-white{
  color:#fff;
}
.text-center{
  text-align: center;
}
.text-right{
  text-align: right;
}
.text-header{
  font-size: 48px;
  @include media(769){
    font-size: 24px;
  }
}
.text-header-sm{
  font-size: 36px;
  @include media(769){
    font-size: 18px;
  }
}
.anons__header{
  font-size: 42px;
}
h1{
  font-size: 44px;
  @include media(769){
    font-size: 33px;
  }
}