// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------
footer{
  background: #175f7d;
  color: #8acbe6;
  font-size: 18px;
  @include placeholderColor(#21afc7);
  & .col-12{
    @include minMedia(992){
      padding:0 45px;
    }
  }
  & .logo{
    margin-bottom:30px;
  }
  & .phone{
    margin-bottom:30px;
  }
  & .vk{
    margin: 0 15px;
  }
  & input{
    width:100%;
    text-align: center;
    border:none;
    border-radius: 3px;
  }
  & input[type="text"]{
    background: #0e4d67;
    color: #21afc7;
    font-size: 14px;
    padding:15px;
  }
  & input[type="submit"]{
    background: #f655a0;
    color: #f4f4f4;
    font-size: 20px;
    padding:15px;
  }

  & .form-group{
    margin-bottom:15px;
    &:last-child{
      margin-bottom:0;
    }
  }

  & .copy{
    text-align: right;
    @include flexBox();
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 16px;
    color: #21b5cc;
  }
}
.footer__col{
  & .agreement{
    text-align: center;
    margin-top: 15px;
    font-weight: 700;
    font-size: 13px;
  }
  @include media(769){
    margin-bottom:15px;
  }
}