// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
header{
  position: absolute;
  top:35px;
  left:0;
  width:100%;
  z-index:3;
  @include media(576){
    top:auto;
    bottom:10px;
  }
}
.header{
  &-contain{
    @include flexBox();
    justify-content: space-between;
    @include media(576){
      justify-content: flex-end;
    }
  }
}

.menu-btn{
  cursor: pointer;
  display: inline-block;
  &__container{
    width:105px;
    @include media(769){
      width:70px;
      padding-left: 15px;
    }
  }
  & span{
    display: block;
    width: 48px;
    height: 4px;
    background-color: #fff;
    border-radius: 2px;
    margin-bottom:6px;
    &:last-child{
      margin-bottom:0;
    }
  }
}
